@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="login-page">
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <h2>Załóż konto</h2>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        <div class="form-group">
            @Html.TextBoxFor(x => x.Email, new { @placeholder = "Email" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(x => x.Name, new { @placeholder = "Imie" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(x => x.Surname, new { @placeholder = "Nazwisko" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(x => x.Password, new { @placeholder = "Haslo" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(x => x.ReapeatPassword, new { @placeholder = "Powtorz Haslo" })
        </div>

        <div class="form-group form-group--buttons">
            <a href="login.html" class="btn btn--without-border">Zaloguj się</a>
            <button class="btn" type="submit">Załóż konto</button>
        </div>
    }
</section>

